[Unit]
Description=Mage daemon
After=network-online.target

[Service]

# Run as mage:mage
User=mage
ExecStart=/home/furya-official/magego/bin/kvd start
Restart=on-failure
RestartSec=3
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target